body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 40px;
}
.color-highlight{
    color: palevioletred;
    font-family: 'Paytone One', sans-serif;
}
p{
    color: dimgray;
    font-size: 18px;
}
h2{
    color: black;
    font-size: 40px;
}
.half-width{
    width: 45%;
    float: left;
}

.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 700px;
    padding: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ec4f8f, #ed4b72);
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
}
.biography{
    background-image: url("image/biography-bg.png");
    background-repeat: no-repeat;
}

.bio-details {
    padding-left: 15%;
}

.my-work{
    background-image: url("image/latest-work-bg.png");
    background-repeat: no-repeat;
    text-align: center;
}
.work-img{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 50%;
    background-color: white;
    width: 460px;
    margin: 15px;
    padding: 1px;
}
.footer{
    background-image: url("image/footer-bg.png");
    background-repeat: no-repeat;
}
.footer-more{
    text-align: center;
margin: 5px 30px 20px 30px;
}
.client-section {
    text-align: center;
    background-image: url(image/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.client-testimonial {
    margin-top: 8%;
    margin-bottom: 6%;
}

.client-testimonial h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0;
}
.client-testimonial span {
    font-size: 14px;
    color: dimgray;
}
.client-testimonial p{
color: #333;
font-size: 23px;
font-weight: 500;
width: 60%;
margin: auto;
padding-top: 4%;
}
.message-me {
    background-image: linear-gradient(45deg, #ec4f8f, #ed4b72);
    box-shadow: 3px 3px 13px rgb(202, 201, 201);
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 40px 50px;
    border-radius: 10px;
    color: white;
}
.contact-me {
    background: linear-gradient(90deg, rgb(236, 150, 183), rgb(230, 64, 64));;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}
.message-me p{
    color: white;
    font-size: 25px;
}
footer p{
    text-align: center;
    background-color: rgb(248, 246, 246);
    padding: 20px;
}